.sidebar{
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 1rem;
}

.logo{
  padding: .25rem 0 1rem 0;
  border-bottom: 1px solid #e7e7ef;
  margin-bottom: 1rem;
}

.title{
  display:block;
  font-weight: 800;
  font-size: 1.1rem;
}

.sub{
  display:block;
  opacity: .65;
  font-size: .9rem;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.version {
  margin-top: auto;        
  font-size: 0.75rem;      
  opacity: 0.6;            
  text-align: center;
  padding-top: 1rem;
}