<div class="flex align-items-center justify-content-center min-h-screen">
  <p-card header="Login" class="w-25rem">

    <form [formGroup]="form" class="flex flex-column gap-3" (ngSubmit)="submit()">

      <span class="p-float-label">
        <input pInputText id="user" formControlName="userOrEmail" />
        <label for="user">Usuario</label>
      </span>

      <small class="p-error" *ngIf="c('userOrEmail').touched && c('userOrEmail').invalid">
        Campo requerido
      </small>

      
      <span class="p-float-label">
        <p-password
          inputId="pass"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false">
        </p-password>
        <label for="pass">Password</label>
      </span>

      <small class="p-error" *ngIf="c('password').touched && c('password').invalid">
        Campo requerido
      </small>

      <p-button
        type="submit"
        label="Entrar"
        icon="pi pi-check"
        severity="success"
        [disabled]="form.invalid">
      </p-button>

      <p-button
        label="Crear cuenta"
        severity="info"
        routerLink="/auth/register">
      </p-button>

    </form>

  </p-card>
</div>